main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

main * {
    font-size: 16px;
}

.flex {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    justify-content: space-evenly;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 40px;
    font-weight: 800;
    min-width: 30vw;
}

fieldset legend {
    text-align: center;
    font-size: 30px;
}

input[type='text'] {
    border: 2px solid var(--primary);
    border-radius: 20px;
    background: #d6d6d650;
    padding: 10px 20px;
    min-width: 100%;
    transition: all .3s;
    font-size: 20px;
}

input[type='text']:focus {
    transform: scale(1.02);
}

main>form {
    width: 33vw;
    align-self: center;
}

main>form input[type='submit'] {
    background: red;
}

@media screen and (max-width: 980px) {
    .flex {
        flex-direction: column;
        align-items: center;
    }
}